h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    text-align: left;
}

h3 {
    color: rgb(0, 0, 138, 0.8);
}

p {
    font-family: serif;
}

a {
    color: darkgreen;
}

s {
    color: grey;
}

mark {
    color: darkblue;
    background: pink;
}

pre {
    font-family: monospace;
}

body {
    background-color: #DCF5F5;
    background-image: url(cross.png);
}

hr {
    border-color: #CFDFE4;
}

.transparent-text {
    color: rgb(0, 0, 0, 0.5);
}

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

.red-border {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.blue-border {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}

.red-border-round {
    border-style: solid;
    border-color: red;
    border-bottom: unset;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 1px;
}

.blue-border-round {
    border-style: solid;
    border-color: blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-width: 1px;
}

.red-outline {
    outline-style: solid;
    outline-color: red;
    outline-width: 1px;
}

div.nested1 {
    background-color: yellow;
    margin: 10px 20px 10px 20px;
    padding: 12px;
    text-align: right;
    box-sizing: border-box;
}

div.nested2 {
    background-color: yellow;
    padding: 12px;
    width: 400px;
    height: 400px;
    text-align: right;
    position: relative;
    margin: auto;
}

div.outer1 {
    background-color: blue;
    border-left: 700px;
    border-right: 700px;
}

div.outer2 {
    background-color: blue;
    margin-top: 20px;
}

#content {
    background-color: white;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    border-radius: 8px;
    padding: 10px;
}