h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    text-align: left;
}

h3 {
    color: rgb(0, 0, 138, 0.8);
}

p {
    font-family: serif;
}

a {
    color: darkgreen;
}

s {
    color: grey;
}

mark {
    color: darkblue;
    background: pink;
}

pre {
    font-family: monospace;
}

.transparent-text {
    color: rgb(0, 0, 0, 0.5)
}